
<div class="bg forgot-password">
  <div class="ion-padding">
    <div class="ion-text-left">
      <ion-text color="danger">
        <h3 class="ion-text-danger ion-text-center">Forgot Password?</h3>
      </ion-text>
    </div>
    <div class="ion-margin-top">
      <div class="ion-text-left">
        <ion-text color="warning">
          Don't worry! It happens. Please enter the registered email-id. We will send an email to reset your password.
        </ion-text>
      </div>
    </div>
    <div class="ion-margin-top">
      <ion-item>
        <ion-input type="email" placeholder="Enter the registered email-Id"></ion-input>
      </ion-item>
    </div>
    <div class="ion-margin-top">
      <ion-button expand="block" [routerLink] = "['/reset-password']" color="primary">Continue</ion-button>
    </div>
  </div>
</div>






