<nu-header></nu-header>
<ion-content>
  <div class="content-container">
    <div>
      <ion-searchbar show-clear-button="focus" placeholder="Search" [value]="searchText"
        (ionInput)="onSearch($event)"></ion-searchbar>
    </div>

    <ion-card (click)="handleTradeCardClick(trade)" type="button"
      *ngFor="let trade of trades | searchFilter : searchText :Fields">
      <div class="card-container">
        <div slot="start">
          <ion-icon *ngIf="trade.Status__c==='Paid'" size="large" class="ion-padding"
            name="checkmark-circle-outline"></ion-icon>
          <ion-icon *ngIf="trade.Status__c==='Accepted'" size="large" class="ion-padding"
            name="close-circle-outline"></ion-icon>
          <ion-icon *ngIf="trade.Status__c==='Rejected'" size="large" class="ion-padding"
            name="alert-circle-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>{{ trade.Name }}</ion-card-title>
        </ion-card-header>
      </div>

      <ion-card-content>
        <div *ngFor="let tradeDetail of tradeDetailsMap">
          <ion-label class="blue-green-label">{{ tradeDetail.label }} : {{ trade[tradeDetail.field] }}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>