<ion-content>
    <div class="content-container">
        <ion-text class="ion-text-center">
            <h2 class="heading-copper-label" *ngIf="!company.Verified__c">COMPLETE YOUR COMPANY PROFILE</h2>
            <h2 class="heading-copper-label" *ngIf="company.Verified__c">COMPANY PROFILE</h2>
        </ion-text>
        <ion-list class="ion-margin ion-padding">

            <ion-item class="ion-margin-top">
                <ion-label position="stacked" class="ion-text-wrap">
                    <ion-text class="copper-label required-field">FULL LEGAL NAME OF BUSINESS</ion-text>
                </ion-label>
                <ion-input type="text" [formControl]="fullLegalNameBusinessControl"
                    [(ngModel)]="company.Full_Legal_Name_Of_Business__c" [readonly]="company.Verified__c && !editMode"
                    maxLength="40" placeholder="Enter Full Legal Name"></ion-input>
                <ion-icon class="ion-padding" name="pencil" slot="end" *ngIf="company.Verified__c && !editMode"
                    (click)="toggleEditMode()"></ion-icon>
            </ion-item>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="fullLegalNameBusinessControl.hasError('pattern') && (fullLegalNameBusinessControl.dirty || fullLegalNameBusinessControl.touched)">
                Invalid Name
            </ion-text>

            <ion-item class="ion-margin-top">
                <ion-label position="stacked">
                    <ion-text class="copper-label required-field">DBA (DOING BUSINESS AS)</ion-text>
                </ion-label>
                <ion-input type="text" [formControl]="dbaControl" [(ngModel)]="company.Doing_Business_As__c"
                    [readonly]="company.Verified__c && !editMode" maxLength="40"
                    placeholder="Enter your DBA"></ion-input>
                <ion-icon class="ion-padding" name="pencil" slot="end" *ngIf="company.Verified__c && !editMode"
                    (click)="toggleEditMode()"></ion-icon>
            </ion-item>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="dbaControl.hasError('pattern') && (dbaControl.dirty || dbaControl.touched)">
                Invalid Name
            </ion-text>

            <div class="ion-padding">
                <ion-label position="stacked" class="ion-text-wrap">
                    <ion-text class="copper-label required-field">ORGANIZATION TYPE</ion-text>
                </ion-label>
                <ion-radio-group [(ngModel)]="company.Organization_Type__c" [formControl]="organizationTypeControl">
                    <br>
                    <ion-radio class="ion-padding-start ion-margin-top" slot="start" labelPlacement="end"
                        value="recycler" [disabled]="company.Verified__c && !editMode">Recycler</ion-radio> <br>
                    <ion-radio class="ion-padding-start ion-margin-top" slot="start" labelPlacement="end" value="OEM"
                        [disabled]="company.Verified__c && !editMode">OEM</ion-radio>
                    <br>
                    <ion-radio class="ion-padding-start ion-margin-top" slot="start" labelPlacement="end"
                        value="dataCenter" [disabled]="company.Verified__c && !editMode">Data
                        Center</ion-radio>
                </ion-radio-group>
            </div>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="organizationTypeControl.hasError('required') && (organizationTypeControl.dirty || organizationTypeControl.touched)">
                This field is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked">
                    <ion-text class="copper-label required-field">BUSINESS PHONE</ion-text>
                </ion-label>
                <ion-input type="tel" name="Phone" placeholder="Enter your phone" [(ngModel)]="company.Phone"
                    [formControl]="businessPhoneControl" maxlength="10"
                    [readonly]="company.Verified__c && !editMode"></ion-input>
                <ion-icon class="ion-padding" name="pencil" slot="end" *ngIf="company.Verified__c && !editMode"
                    (click)="toggleEditMode()"></ion-icon>
            </ion-item>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="(businessPhoneControl.errors?.['pattern'] || businessPhoneControl.errors?.['minlength']) && (businessPhoneControl.dirty || businessPhoneControl.touched)">
                Invalid Phone Number
            </ion-text>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="businessPhoneControl.hasError('required') && (businessPhoneControl.dirty || businessPhoneControl.touched)">
                This field is required
            </ion-text>

            <div class="ion-padding">
                <ion-label position="stacked" class="ion-text-wrap">
                    <ion-text class="copper-label required-field">DO YOU HAVE LOADING DOCK</ion-text>
                </ion-label>
                <ion-radio-group [(ngModel)]="company.Do_you_have_loading_dock__c" [formControl]="loadingDockControl">
                    <ion-radio class="ion-padding-start ion-margin-top" slot="start" labelPlacement="end" [value]="true"
                        [disabled]="company.Verified__c && !editMode">Yes</ion-radio> <br>
                    <ion-radio class="ion-padding-start ion-margin-top" slot="start" labelPlacement="end"
                        [value]="false" [disabled]="company.Verified__c && !editMode">No</ion-radio>
                </ion-radio-group>
            </div>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="loadingDockControl.hasError('required') && (loadingDockControl.dirty || loadingDockControl.touched)">
                This field is required
            </ion-text>

            <div class="ion-padding-start">
                <ion-text class="copper-label">FEDERAL EIN</ion-text>
                <ion-input type="number" [value]="company.Federal_EIN__c" readonly="true">
                </ion-input>
            </div>

            <ion-item>
                <ion-label position="stacked">
                    <ion-text class="copper-label required-field">STATE OF INCORPORATION</ion-text>
                </ion-label>
                <ion-input type="text" [formControl]="stateOfIncorporationControl"
                    [(ngModel)]="company.State_of_Incorporation__c" [readonly]="company.Verified__c && !editMode"
                    placeholder="Enter State of Incorporation"></ion-input>
                <ion-icon class="ion-padding" name="pencil" slot="end" *ngIf="company.Verified__c && !editMode"
                    (click)="toggleEditMode()"></ion-icon>
            </ion-item>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="stateOfIncorporationControl.hasError('pattern') && (stateOfIncorporationControl.dirty || stateOfIncorporationControl.touched)">
                Invalid Name
            </ion-text>

            <ion-item class="ion-margin-top">
                <ion-label position="stacked">
                    <ion-text class="copper-label required-field">SALES TAX NUMBER</ion-text>
                </ion-label>
                <ion-input type="text" [formControl]="salesTaxNumberControl" [(ngModel)]="company.Sales_Tax_Number__c"
                    [readonly]="company.Verified__c && !editMode" placeholder="Enter Sales Tax Number"></ion-input>
                <ion-icon class="ion-padding" name="pencil" slot="end" *ngIf="company.Verified__c && !editMode"
                    (click)="toggleEditMode()"></ion-icon>
            </ion-item>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="(salesTaxNumberControl.errors?.['pattern'] || salesTaxNumberControl.errors?.['minlength']) && (salesTaxNumberControl.dirty || salesTaxNumberControl.touched)">
                Invalid Sales Tax Number
            </ion-text>
            <ion-text class="ion-text-align-start" color="danger"
                *ngIf="salesTaxNumberControl.hasError('required') && (salesTaxNumberControl.dirty || salesTaxNumberControl.touched)">
                This field is required
            </ion-text>

            <div class="ion-margin-top ion-text-end" *ngIf="!company.Verified__c && !editMode">
                <ion-button class="circular-button" type="button" size="large" shape="round"
                    (click)="onSubmit()">&gt;</ion-button>
            </div>

            <div class="ion-margin-top ion-text-end" *ngIf="company.Verified__c && editMode">
                <ion-button type="button" routerLink="/home/company-profile/upload-documents" (click)="onSave()" *ngIf="editMode">Save</ion-button>
            </div>
            <div class="ion-margin ion-padding-top ion-text-end" *ngIf="company.Verified__c && !editMode">
                <ion-button expand="full" shape="round" type="button" routerLink="/home/banking-information">BANKING
                    INFORMATION</ion-button>
                <ion-button expand="full" shape="round" type="button" routerLink="/home/documents">COMPLIANCE
                    DOCUMENTS</ion-button>
            </div>

        </ion-list>
    </div>
</ion-content>