<h1 class="custom-heading ion-padding content-container">Username <br> and <br> password</h1>
<ion-list class="ion-margin ion-padding">
  <ion-label position="stacked"><span class="required-asterisk">* </span>USERNAME</ion-label>
  <ion-item lines="none"><ion-input type="email" [(ngModel)]="user.userName" placeholder="Enter Username"
      readonly></ion-input>
  </ion-item>
  <ion-text position="stacked" class="ion-text-start copper-label required-field">PASSWORD </ion-text>
  <ion-icon [name]="displayHelpMessage ? 'information-circle' : 'information-circle-outline'"
    (click)="toggleHelpMessage()"></ion-icon><br>
  <ion-text *ngIf="displayHelpMessage"
    class="ion-text-wrap ion-padding-left ion-padding-right">{{helpMessage}}</ion-text>
  <ion-item>
    <ion-input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Enter Your Password"
      [(ngModel)]="user.password" [formControl]="passwordControl" (ionInput)="checkPassword()" required></ion-input>
    <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" class="ion-float-end" (click)="togglePassword()"></ion-icon>
  </ion-item>
  <ion-text class="ion-text-align-start" color="danger" *ngIf="passwordMessage">{{passwordMessage}}</ion-text>

  <ion-label position="stacked"><span class="required-asterisk">* </span>CONFIRM PASSWORD</ion-label>
  <ion-item>
    <ion-input type="{{ showConfirmPassword ? 'text' : 'password' }}" name="confirmPassword"
      placeholder="Confirm Your Password" (ionInput)="checkPassword()" [(ngModel)]="confirmPassword"
      required></ion-input>
    <ion-icon name="{{ showConfirmPassword ? 'eye' : 'eye-off' }}" class="ion-float-end"
      (click)="toggleConfirmPassword()"></ion-icon>
  </ion-item>
  <ion-text class="ion-text-align-start ion-padding-left ion-padding-right" color="danger"
    *ngIf="errormessage">{{errormessage}}</ion-text>
</ion-list>
<div class="bottom-buttons ion-padding">
  <ion-fab-button size="large" class="circular-button" (click)=handleBack()>
    <span class="button-text">&lt;</span>
  </ion-fab-button>
  <ion-button [disabled]="disable" size="large" shape="round" (click)=onRegister()>Register</ion-button>
</div>