<div class="home-container ion-padding">
  <div *ngIf="company.underVerification">
    <ion-text color="medium">
      <h3 class="ion-text-center">Verification of documents is in the process</h3>
    </ion-text>
  </div>

  <div *ngIf="company.documentRejected">
    <ion-text color="danger">
      <h3 class="ion-text-center">Document rejected,upload again.</h3>
    </ion-text>
  </div>

  <div *ngIf="!company.Verified__c">
    <ion-button class="home-buttons" expand="full" shape="round" [routerLink]="['/home']">
      <img class="button-img" src="assets/icon/Company-Asset-38.svg">COMPANY PROFILE
    </ion-button>
  </div>

  <div>
    <ion-button class="home-buttons" expand="full" shape="round" [disabled]="!company.Verified__c"
      [routerLink]="['/home']"><img class="button-img"
        src="assets/icon/Account-History-Asset-183.svg">ACCOUNT HISTORY
    </ion-button>
  </div>

  <div>
    <ion-button class="home-buttons" expand="full" shape="round" [disabled]="!company.Verified__c"
      [routerLink]="['/home']"><img class="button-img" src="assets/icon/Company-Asset-38.svg">PAYMENT
      HISTORY
    </ion-button>
  </div>
</div>