<div class="bg success-message">
  <div class="ion-text-center ion-margin-top">
    <img src="assets/images/verificationsuccessfulimage.png" alt="verificationsuccessful" class="ion-img-fluid">
  </div>
  <div class="ion-text-center ion-margin-top">
    <ion-text color="light">
      <h3>Verification Successful</h3>
    </ion-text>
  </div>
  <div class="ion-text-center ion-margin-top">
    <ion-button id="present-alert" shape="round" color="light" (click)="next()">
      &gt;
    </ion-button>
  </div>
</div>
