<ion-content>
  <div *ngIf="!isMfaRequired" class="bg-image login-container">
    <div class="logo-container">
      <ion-img src="./assets/images/whitemainlogo.png" alt="ngmlogo"></ion-img>
    </div>
    <div class="ion-margin-top input-container">
      <ion-text class="ion-padding-top copper-label">Username</ion-text>
      <ion-item class="ion-margin-top">
        <ion-input type="text" name="username" placeholder="Enter username" [(ngModel)]="user.userName"
          (ionInput)="checkValid($event)"></ion-input>
      </ion-item>
      <ion-text class="ion-padding-top copper-label">Password</ion-text>
      <ion-item class="ion-margin-top ion-input-box">
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Enter password"
          [(ngModel)]="user.password" (ionInput)="checkValid($event)" required></ion-input>
        <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="ion-margin-top ion-text-end">
        <ion-button fill="clear" [routerLink]="['/forgot-password']" color="light">Forgot Password ?</ion-button>
      </div>
      <div class="ion-padding">
        <ion-button [disabled]="invalid" expand="block" class="custom-button" size="full" shape="round"
          (click)="verifyLogin()">Login</ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="isMfaRequired">
    <nu-header></nu-header>
    <div class="container">
      <verification [user]="user" (data)="getUserToken($event)"></verification>
    </div>
  </div>
</ion-content>
