  .bg-image {
      background-image: url('/assets/images/SignInPageImage.jpg');
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100vw;
      align-items: center;
      justify-content: flex-end;
      background-position: center;
  }

  .input-container {
      width: 22rem;
  }

  .logo-container {
      max-width: 15rem;
  }

  //FOR WEB VIEW
  @media only screen and (min-width: 50rem) {
      .logo-container {
          margin-top: 10%
      }
  }

  //FOR MOBILE VIEW
  @media only screen and (max-width: 50rem) {
      .logo-container {
          margin-bottom: 40%
      }
  }