<div class="ion-margin ion-padding">
  <h3 class="heading-copper-label required-field">ENTER YOUR E-MAIL</h3>
  <ion-input type="email" [formControl]="emailControl" (ionInput)="checkEmail()" [(ngModel)]="contact.Email"
    placeholder="Enter Email"></ion-input>
  <!-- ERROR -->
  <ion-text class="ion-text-align-start" color="danger"
    *ngIf="!(emailControl.valid && emailControl.dirty)">{{errormessage}}</ion-text>
  <div class="ion-padding-top ion-text-center">
    <ion-button shape="round" [disabled]="(!(emailControl.valid && emailControl.dirty))"
      (click)="onNext($event)">Next</ion-button>
  </div>
</div>
<div class="bottom-align ion-padding">
  <ion-fab-button size="large" class="circular-button" routerLink="">
    <span class="button-text">&lt;</span>
  </ion-fab-button>
</div>