<div class="ion-padding">
  <div class="ion-margin-top">
    <h3 class="ion-text-center">BOL History</h3>
    <ion-card>
      <ion-card-content>
        <div class="ion-grid">
          <div class="ion-row" *ngFor="let record of filteredRecords">
            <div class="ion-col-3 ion-text-left">
              <h5>{{ record.date | date }}</h5>
            </div>
            <div class="ion-col">
              <ul class="ion-list ion-no-padding">
                <ion-item *ngFor="let bol of record.bols" class="ion-margin-bottom">
                  <ion-icon name="bulb"></ion-icon>
                  {{ bol }}
                </ion-item>
              </ul>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
