.get-started {
    background-image: url('/assets/images/GetStartedImage.jpg');
}
.logo-image {
    width: 15rem;
}
.logo-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}