<ion-content>
  <div class="bg get-started">
    <div class="logo-container">
      <ion-img class="logo-image" src="assets/images/whitemainlogo.png" alt="ngmlogo"></ion-img>
    </div>
    <div class="ion-padding ion-text-center button-container">
      <div>
        <ion-button class="custom-button" size="full" shape="round" [routerLink]="['/signup']"><span>Get Started</span>
        </ion-button>
      </div>
      <div>
        <ion-button class="custom-button" size="full" shape="round" [routerLink]="['/login']"><span>Login</span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>