<ion-content>
  <div class="ion-padding">
    <div class="ion-text-start">

        <ion-label position="stacked">New Password</ion-label>
        <ion-item>
          <ion-input type="{{ showNewPassword ? 'text' : 'password' }}" name="newPassword"
            placeholder="Enter New Password" [value]="newPassword" (ionInput)="getNewPassword($event)"
            required></ion-input>
          <ion-icon name="{{ showNewPassword ? 'eye' : 'eye-off' }}" class="ion-float-end"
            (click)="toggleNewPassword()"></ion-icon>
        </ion-item>
    </div>

    <div class="ion-text-start">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-item>
          <ion-input type="{{ showConfirmPassword ? 'text' : 'password' }}" name="password"
            placeholder="Enter Confirm Password" [value]="confirmPassword" (ionInput)="getConfirmPassword($event)"
            required></ion-input>
          <ion-icon name="{{ showConfirmPassword ? 'eye' : 'eye-off' }}" class="ion-float-end"
            (click)="toggleConfirmPassword()"></ion-icon>
        </ion-item>
    </div>

    <div class="ion-margin-top ion-text-center">
      <ion-button expand="full" color="primary" (click)="submit()">Update Password</ion-button>
    </div>
  </div>
</ion-content>
